---
layout: baselayout.njk
projectsSelected: true
---
<div>
    <p>
        This is a selection of projects that I have worked on
    </p>
    <div class="project-list">
        <a href="./sd/" class="project-list-entry">
            <h1>Spiritum Duo</h1>
            <img src="/assets/img/sdlogo.svg" alt="Spiritum Duo Logo"/>
        </a>
        <a href="./mamumi/" class="project-list-entry">
            <h1>MaMuMi: Mapping the Music of Migration</h1>
            <img
                srcset="/assets/img/mamumi-logo-250w.png 250w, /assets/img/mamumi-logo-350w.png 350w"
                sizes="(max-width: 992px) 250px, 350px" />
        </a>
    </div>
</div>