---
layout: baselayout.njk
---
<div class="project-page">
    <div>
        <h1>Spiritum Duo</h1>
        <div>
            Homepage: <a href="https://www.spiritumduo.com/">https://www.spiritumduo.com/</a> <br/>
            GitHub: <a href="https://github.com/spiritumduo/spiritumDuo">https://github.com/spiritumduo/spiritumDuo</a>
        </div>
    </div>
    <div class="project-body">
        <div>
            <p>
                <a href="https://www.spiritumduo.com/">Spiritum Duo</a> is a proof-of-concept clinical pathway system for
                lung cancer developed at Gloucestershire Hospitals NHS Foundation Trust. It was based on a prior system developed for the sleep service,
                Spiritum, developed by Dr Mark Bailey who also led the Spiritum Duo project. The goal of the system is to streamline the process of making
                clinical decisions by only showing relevant information to the clinician and automating clinical requests. To achieve this, Spiritum Duo was
                developed as a React single-page application and Python application server. This allowed us to rapidly prototype concepts and iterate based on
                feedback from clinicians.
            </p>
            <p>
                The concept for the basic workflow is that patients present at clinic. On any given day, there will be an outstanding todo list of patients
                for a given clinician. This is based on clinical requests that have been resolved somehow, and require some kind of acknowledgement
                or further decision from a clinician.
            </p>
        </div>
        <div><img src="/assets/img/patientlist.png"/ alt="Spiritum Duo Patient List"></div>
        <div><img src="/assets/img/patientdecisionpage.png" alt="Spiritum Duo Decision Page"/></div>
        <div>
            <p>
                When a clinician reviews a patient, they are presented 
            </p>
        </div>
        <div>
            <p>
                Explain decision types
            </p>
        </div>
        <div><img src="/assets/img/decisiontypes.png" alt="Spiritum Duo Decision Types"/></div>
        <div><img src="/assets/img/grp.png" alt="Spiritum Duo Pathway Graphical Representation"/></div>
        <div>
            <p>
                Explain GRP
            </p>
        </div>
    </div>
</div>