---
layout: baselayout.njk
---
<div class="project-page">
    <div>
        <h1>Spiritum Duo</h1>
        <div>
            Homepage: <a href="https://www.spiritumduo.com/">https://www.spiritumduo.com/</a> <br/>
            GitHub: <a href="https://github.com/spiritumduo/spiritumDuo">https://github.com/spiritumduo/spiritumDuo</a>
        </div>
    </div>
    <div class="project-body">
        <div>
            <p>
                <a href="https://www.spiritumduo.com/">Spiritum Duo</a> is a proof-of-concept clinical pathway system for
                lung cancer developed at Gloucestershire Hospitals NHS Foundation Trust. It was based on a prior system developed for the sleep service,
                Spiritum, developed by Dr Mark Bailey who also led the Spiritum Duo project. The goal of the system is to streamline the process of making
                clinical decisions by only showing relevant information to the clinician and automating clinical requests. To achieve this, Spiritum Duo was
                developed as a React single-page application and Python application server. This allowed us to rapidly prototype concepts and iterate based on
                feedback from clinicians.
            </p>
            <p>
                The concept for the basic workflow is that patients present at clinic. On any given day, there will be an outstanding todo list of patients
                for a given clinician. This is based on clinical requests that have been resolved somehow, and require some kind of acknowledgement
                or further decision from a clinician. All examples
            </p>
        </div>
        <div>
            <figure>
                <img src="/assets/img/patientlist.png"/ alt="Spiritum Duo Patient List">
                <figcaption>Patient List</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="/assets/img/patientdecisionpage.png" alt="Spiritum Duo Decision Page"/>
                <figcaption>Decision Page</figcaption>
            </figure>
        </div>
        <div>
            <p>
                When a clinician reviews a patient, they are presented with the results of the most recent clinical requests, e.g. referral letter, or X-Ray result.
                They must acknowledge they have seen the request, and then may make decisions or request further investigations.
            </p>
        </div>
        <div>
            <p>
                The clinican may submit further clinical requests. These are then automatically dispatched and tracked by the backend application server. This represents a significant time saving over manually submitting requests.
            </p>
        </div>
        <div>
            <figure>
                <img src="/assets/img/decisiontypes.png" alt="Spiritum Duo Decision Types"/>
                <figcaption>Request Types</figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img src="/assets/img/grp.png" alt="Spiritum Duo Pathway Graphical Representation"/>
                <figcaption>Graphical Representation of Pathway</figcaption>
            </figure>
        </div>
        <div>
            <p>
                I implemented a concept for a graphical representation of the clinical pathway. This was based on feedback from clinicians at the hospital who wanted a visualisation tool to enable them to see at a glance any
                patients at risk of breaching the 62 day treatment time target. In the example image, dark blue indicates a request that requires acknowledgement, light blue indicates a request that is in progress, and red indicates
                no action is being taken on a patient.
            </p>
            <p>
                The feedback from clinical staff was that this visualisation would be useful in a real system for enabling them to identify patients who might otherwise be slipping through the cracks.
                This could be due to patients having issues causing them to miss appointments, or delays in liasing with other specialities in complex cases. Obviously anything that reduces treatment time
                improves outcomes, so this is highly desirable.
            </p>
        </div>
    </div>
</div>