---
layout: baselayout.njk
homeSelected: true
---
<div id="title-container">
    <picture class="profile-picture-container" alt="Picture of me!">
        <source class="profile-picture" media="(min-width:993px)" width="300" srcset="/assets/img/profile-large.png">
        <source class="profile-picture" media="(max-width:992px)" width="150" height="100%" srcset="/assets/img/profile-small.png">
        <img class="profile-picture" class="profile-picture"src="/assets/img/profile-small.png" width="150px">
    </picture>
    <h1 id="title-box">{{ title }}</h1>
</div>
<div>
    <p>
        I am a recent graduate starting my career as a software developer! I studied Computing at the <a href="https://www.glos.ac.uk/">University of Gloucestershire</a> where I graduated first class with honours.
    </p>
    <p>
        Here you will find a selection of projects I have worked on, and contact details should you have any opportunities you think I would be suitable for.
    </p>
</div>